$mainColor: #323259;
$mainBgColor: #1b1b38;
$navH: 60px;
$iconColor: #fff;
$activeLinkColor: #a16eff;


//  Forms
$formTextColor: #b4b4db;
$fieldBg: #252547;
$activeFieldBg: #1b1b38;


//  Default colors
$primary: #a16eff;
$danger: #ff3d71;
